const { describeDay } = require('../test-utils')

const EXAMPLE_INPUT = `FILL ME
`

describeDay(
  <<YEAR>>,
  <<DAY>>,

  null,
  null,

  (dayModule) => {},

  (part1, dayModule) => {
    test('Example input', () => {
      expect.assertions(1)

      expect(part1(EXAMPLE_INPUT)).toBeNull()
    })
  },

  (part2, dayModule) => {
    test('Example input', () => {
      expect.assertions(1)

      expect(part2(EXAMPLE_INPUT)).toBeNull()
    })
  },
)
